body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #7fc6ce;
    font-family: Constantia, sans-serif;
}

nav {
    display: inline-block;
    width: 100%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-left {
    float: left;
}

.div-left a {
    color: cadetblue;
    padding: 30px;
}

.div-left .strong {
    color: antiquewhite;
}

.div-left a:hover {
    color: cyan;
}

.div-right {
    position: sticky;
    left: 80%;
    vertical-align: middle;
    margin-right: 5%;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.div-right:hover .dropdown-content {
    display: block;
}

ul {
    display: block;
}

.content ul {
    border-radius: 4px;
    border: 1px gray solid;
}

li {
    padding: 10px;
    border-bottom: gray 1px solid;
    list-style-position: inside;
}

.no-line {
   border-bottom: none;
}

.li-a {
    list-style-image: url("../img/use/a.png");
    list-style-type: square;
}

.li-b {
    list-style-image: url("../img/use/b.png");
    list-style-type: square;
}

.li-c {
    list-style-image: url("../img/use/c.png");
    list-style-type: square;
}

.li-d {
    list-style-image: url("../img/use/d.png");
    list-style-type: square;
}


.dropdown-content a {
    color: black;
}

.dropdown-content a:hover {
    color: #a6ddf8;
}

.my-account {
    color: cadetblue;
}

#copyrightRow {
    text-align: center;
}

.content {
    margin: 2%;
}

.content-left {
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

.title-search {
    padding-bottom: 30px;
}

.hot-country,.hot-content{
    margin-top: 8%;
}

.filter {
    margin-left: 3%;
    display: inline-block;
    width: 75%;
}

.title {
    background-color: #274e5f;
    background-clip: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.title-search .no-line {
    padding: 0;
}

.title-search input {
    padding: 0;
    border: none;
    border-bottom-left-radius: 4px;
    float: left;
    width: 80%;
    height: 30px;
}

.title-search button {
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 20%;
    height: 30px;
    border-bottom-right-radius: 4px;
}

button img {
    width: 100%;
    height: 30px;
    border-bottom-right-radius: 4px;
}

.filter-submit {
    background-color: rgb(112, 146, 190);
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 20%;
}

select {
    border-radius: 4px;
    background-color: #274e5f;
    height: 30px;
    width: 20%;
}

table {
    width: 100%;
}

td img {
    width: 90%;
    height: auto;
}

.filter .no-line {
    text-align: center;
}

.filter p a {
    display: inline-block;
    margin: 0 10px 0 10px;
}