body {
    padding-left: 20%;
    padding-right: 20%;
    background-color: #7fc6ce;
    font-family: Constantia, sans-serif;
}

nav {
    display: inline-block;
    width: 100%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-left {
    float: left;
}

.div-left a {
    color: cadetblue;
    padding: 30px;
}

.div-left .strong {
    color: antiquewhite;
}

.div-left a:hover {
    color: cyan;
}

.div-right {
    position: sticky;
    left: 80%;
    vertical-align: middle;
    margin-right: 5%;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.div-right:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 10px;
    border-bottom: gray 1px solid;
    list-style-position: inside;
}

.li-a {
    list-style-image: url("../img/use/a.png");
    list-style-type: square;
}

.li-b {
    list-style-image: url("../img/use/b.png");
    list-style-type: square;
}

.li-c {
    list-style-image: url("../img/use/c.png");
    list-style-type: square;
}

.li-d {
    list-style-image: url("../img/use/d.png");
    list-style-type: square;
}


.dropdown-content a {
    color: black;
}

.dropdown-content a:hover {
    color: #a6ddf8;
}

.my-account {
    color: cadetblue;
}

.big-picture {
    height: 50%;
    width: 100%;
}

table {
    margin: 4%;
    border-collapse: separate;
    border-spacing: 28px 30px;

}

td {
    border-radius: 20px;
    background-color: #a6ddf8;
    vertical-align: center;
    text-align: center;
}

.show-picture img {
    margin-top: 15px;
    border-radius: 18px;
    width: 90%;
    height: auto;
}

.small {
    color: #bbbbbb;
    font-size: small;
}

.button1 {
    position:fixed;
    right:23%;
    bottom:7%;
    height: 30px;
    width:  30px;
}

.button2 {
    position:fixed;
    right:23%;
    bottom:2%;
    height: 30px;
    width:  30px;
}

footer {
    font-size: small;
    background-color: #bbbbbb;
    color: white;
}

.col-md-3 {
    margin: 10px 10% 10px 10%;
    display: inline-block;
}

.col-md-3 img {
    height: 50px;
    width: 50px;
}

#copyrightRow {
    text-align: center;
}